body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background-color: #f0f0f0;
  background: url(../IMG/fundo.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh; /* Garantir que a altura seja a total da tela */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.logofeedback {
  background-color: #003366;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: 1000;
}
.logo-img {
  height: 85px;
}

.voltar {
  position: absolute;
  right: 50px;
  color: #003366;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 20px; /* Aqui está o radius */
  transition: background-color 0.3s ease;
}

.voltar:hover {
  background-color: #f99100;
}

.container {
  background-color: rgba(0, 31, 91);
  color: white;
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

h2 {
  text-align: center;
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 1rem 0;
}

.star {
  font-size: 2.5rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.star.hovered,
.star.selected {
  color: gold;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

button {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.feedback-opcoes {
  margin-top: 1rem;
}

.feedback-opcoes label {
  display: block;
  margin: 0.3rem 0;
}

.hidden {
  display: none;
}
.mensagem-sucesso {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.hidden {
  display: none;
}