<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gestão de Treinos - FITMAX</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/inicial2.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='IMG/logo.png') }}" alt="FitmaxLogo" />
    </div>
    <h1>teste</h1>

    <div class="usuario-logado">
      <form method="GET" action="{{ url_for('home.inicial_logado') }}">
        <button type="submit">Sair</button>
      </form>
    </div>

    <nav class="menu-logado">
      <a href="{{ url_for('home.painel_gestor') }}">Painel do Gestor</a>
      <a href="{{ url_for('home.painel_personal') }}">Painel do Personal</a>
      <a href="{{ url_for('usuarios.minha_conta') }}">Minha Conta</a>
      <a href="{{ url_for('home.inicial_logado') }}">Voltar a Tela Inicial</a>
    </nav>
  </header>

  
  <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
  <script src="{{ url_for('static', filename='js/validacoes.js') }}"></script>
</body>
</html>