<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitmax Gym</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicial5.css') }}">

</head>
<body>
  <header>
    <div class="logo">
        <img src="{{ url_for('static', filename='IMG/logo.png') }}" alt="FitmaxLogo">
    </div>

    <div class="search-container">
        <h1>PAINEL DO GESTOR</h1>
    </div>

    <div class="usuario-logado">
        <p>Olá, {{ nome }} 👋</p>
        <form method="POST" action="{{ url_for('auth.logout') }}">
            <button type="submit">Sair</button>
        </form>
    </div>

    <!-- Aqui vem o horário, abaixo da busca -->
    <nav class="menu-logado">
      <a  href="{{ url_for('home.painel_gestor') }}">Painel do Gestor</a>
      <a  href="{{ url_for('home.painel_personal') }}">Painel do Personal</a>
      <a  href="{{ url_for('usuarios.minha_conta') }}">Minha Conta</a>
      <a  href="{{ url_for('home.inicial_logado') }}">Voltar a Tela Inicial</a>
  </nav>
  
</header>
    
<div class="menu-logado1">
    <div class="botao-imagem">
      <div class="imagem-overlay">
        <img src="{{ url_for('static', filename='IMG/fitmaxlocal.png') }}" alt="Unidades">
      </div>
      <a href="{{ url_for('unidades.gerenciar_unidade') }}" class="btn grande">Gestão das Unidades</a>
    </div>
  
    <div class="botao-imagem">
      <div class="imagem-overlay">
        <img src="{{ url_for('static', filename='IMG/personal1.jfif') }}" alt="Personais">
      </div>
      <a href="{{ url_for('personais.gestao_personal') }}" class="btn grande">Gestão de Personais</a>
    </div>
  
    <div class="botao-imagem">
      <div class="imagem-overlay">
        <img src="{{ url_for('static', filename='IMG/user.jpeg') }}" alt="Usuários">
      </div>
      <a href="{{ url_for('usuarios.gestao_usuarios') }}" class="btn grande">Gestão dos Usuários</a>
    </div>
  
    <span class="quebra-linha"></span>
  
    <div class="botao-imagem">
      <div class="imagem-overlay">
        <img src="{{ url_for('static', filename='IMG/equipamentos.jpg') }}" alt="Equipamentos">
      </div>
      <a href="{{ url_for('equipamentos.gestao_equipamentos') }}" class="btn grande">Gestão de Equipamentos</a>
    </div>
  
    <div class="botao-imagem">
      <div class="imagem-overlay">
        <img src="{{ url_for('static', filename='IMG/planos.png') }}" alt="Planos">
      </div>
      <a href="{{ url_for('planos.gestao_planos') }}" class="btn grande">Gestão de Planos</a>
    </div>
  
    <div class="botao-imagem">
      <div class="imagem-overlay">
        <img src="{{ url_for('static', filename='IMG/treinos.png') }}" alt="Treinos">
      </div>
      <a href="{{ url_for('home.treinos_padrao') }}" class="btn grande">Treinos Padrão</a>
    </div>
  
    <span class="quebra-linha"></span>
  
    <div class="botao-imagem">
      <div class="imagem-overlay">
        <img src="{{ url_for('static', filename='IMG/relatorio.webp') }}" alt="Relatórios">
      </div>
      <a href="{{ url_for('feedbacks.relatorios') }}" class="btn grande">Relatórios</a>
    </div>
  </div>
  

    
    <footer>
        <p><strong>SEDE</strong></p>
        <p>AV. BACACHERI, 322, PORTÃO - CURITIBA / PR</p>
        <p>FONE: (41) 99999-8888</p>
    </footer>
    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>

</body>
</html>
