<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relatórios - Fitmax Gym</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/relatorios.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='IMG/logo.png') }}" alt="FitmaxLogo">
    </div>

    <h1>Relatórios de Estatísticas</h1>

    <form action="/logout" method="POST">
      <button type="submit">Sair</button>
    </form>

    <nav class="menu-logado">
      <a href="{{ url_for('home.painel_gestor') }}">Painel do Gestor</a>
      <a href="{{ url_for('home.painel_personal') }}">Painel do Personal</a>
      <a href="{{ url_for('usuarios.minha_conta') }}">Minha Conta</a>
      <a href="{{ url_for('home.inicial_logado') }}">Voltar a Tela Inicial</a>
    </nav>
  </header>

  <main>
    <div class="tabela-unidades-container">
      <table class="tabela-unidades" cellspacing="0" cellpadding="5">
        <thead>
          <tr>
            {% for reg in registros %}
            <th>{{ reg.descricao }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for reg in registros %}
            <td>
              {% if reg.descricao == "Tempo total de uso dos equipamentos" or reg.descricao == "Tempo total de treino dos personal trainers" %}
                {{ (reg.valor / 60) | round }} horas
              {% else %}
                {{ reg.valor }}
              {% endif %}
            </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </main>

  <footer>
    <p><strong>SEDE</strong></p>
    <p>AV. BACACHERI, 322, PORTÃO - CURITIBA / PR</p>
    <p>FONE: (41) 99999-8888</p>
  </footer>

  <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
</body>
</html>